.header {
    background-color: $grayColor;

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;

        .header__title {
            a {
                text-decoration: none;
                @include _fontStyle(600, 30px, 35px, $whiteColor);
            }
        }

        .header__nav {
            .header__link {
                padding: 0;
                text-decoration: none;
                transition: color .3s ease-in-out;

                &:not(:last-child) {
                    margin-right: 35px;
                }

                &:hover {
                    color: $hoverColor; 
                }                

                @media (max-width: 1024px) {                    
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }

                @include _fontStyle(400, 25px, 30px, $whiteColor);                
            }
            
            .active {
                color: $hoverColor;
            }

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                position: fixed;
                height: 100%;
                width: 50%;
                top: 0;
                right: 0;
                padding: 30px 50px;
                z-index: 20;
                background-color: #333333;
                transform: translateX(100%);
                transition: transform .3s ease-in-out;                
            }

            .header__button-close {
                display: none;

                @media (max-width: 1024px) {
                    display: block;
                }
            }
        }

        .header__burger-container {
            display: none;

            .header__burger {
                position: relative;
                padding: 0;
                border: none;
                background-color: transparent;

                span {
                    display: inline-block;
                    height: 2px;
                    width: 20px;
                    background-color: $whiteColor;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 20px;
                        background-color: $whiteColor;
                        top: 8px;
                        right: 0;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 20px;
                        background-color: $whiteColor;
                        bottom: 0;
                        right: 0;
                    }
                }                
            }
            
            @media (max-width: 1024px) {
                display: block;
            }
        }

        .--isOpen {
            transform: translateX(0);
        }
    }
}